*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher');
    src: url(../font/Philosopher-Regular.ttf);
}

html {
    font-family: 'Roboto!';
}

@font-face {
    font-family: 'Roboto!';
    src: url('../font/Roboto-Bold.eot');
    src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Roboto-Bold.woff') format('woff'),
    url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto!';
    src: local('Roboto');
    src: url('../font/Roboto-Regular.eot');
    src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Roboto-Regular.woff') format('woff'),
    url('../font/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

body {
    background-color: #ffe2b0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    /* убирает точку перед элементами списка */
    text-align: center;
    /* выравнивает список по центру страницы */
    padding: 0px;
}

li {
    display: inline; /* превращает наш список из столбца в строку(делает из блочного элемента строчный) */
    margin-right: 100px; /* делаем расстояние между эл-ми списка 100рх */
}

a {
    color: black;
    /* цвет ссылок черный */
    text-decoration: none;
    /* убирает подчеркивание элементов списка (ссылок) */
    font-size: 18px;
    font-weight: 700;
}

li:last-child { 
    margin-right: 0px;
} /* убирает отступ у последнего эл-та списка */

nav {
    margin-bottom: 20px;
}

.section-about {
    height: 640px;
    background: url(../img/01-backgroundpic.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178,0.8) 0%, rgba(234,156,65, 0.8)100%);
    position: absolute;
    top: 54%;
    left: 50%;
    text-align: center;
    padding: 15px;

}
.section-about__border {
    border: 1px solid black;
    height: 160px;
    width: 390px;
    margin: 0 auto; /* margin: 0 auto работает только когда у блочного эл-та задано св-во width */
    padding: 17px 0px 0px 28px;
    text-align: left;

}

.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher';
}

.section-about__text {
    font-size: 10px;
    margin-right: 10px;
}

.section-description {
    margin-bottom: 20px;
}

.section-description__icon-box {
    text-align: center;
}

.section-description__icon-box img {
    margin-right: 76px;
 /* делаем отступ у всех картинок по 76px справа */
    margin-bottom: 20px;
}

.section-description__icon-box img:last-child {
    margin-right: 0px;
    /* убирает отступ у последней картинки */

} 

.section-description__title {
    font-size: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Philosopher';
}

.section-description__span {
    color: #f15b40;
}

.section-description__text {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}

.section-map {
    margin-bottom: 20px;
}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Philosopher';
}

iframe {
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}

h1 {
    font-family: 'Roboto!';

}